*{
    box-sizing: border-box;
  }

  
body{
    background-color:#202632;
    font-family: 'Manrope';
    font-weight: 800px;
    text-align: center;
}

body section{
    display: block;
    background-color: #313A49;
    border: 5px solid red;
    color: #778995;
    padding: 15% 15% 15% 15%;
    margin: 10% 10% 10% 10%;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    border: 3px solid gold;
    color: white;
}

li{
    border: 3px solid white;
    display: block;
    list-style: none;
    width: 50%;
    margin-top: 0;
    padding-top: 3%;
}

.firstLi{
    margin-left: -5%;
}


p{
    color: #DEEEFC;
    font-size: 28px;
}

#numAdv{
    color: #56FFB0;
}

.dice{
    border: 2px solid white;
    z-index: 0;
    border-radius: 40px;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    background-color: #56FFB0;
    opacity: 100%;

}
/* .middle{
    display: block;
    align-content: center;
    margin: auto;
} */

@media all and (min-width: 375) {
    .desktop{
        display: block;
        align-content: center;
        margin: auto;
        border: 5px solid white;
    }

    .mobile{
        display: none;
    }
}

